<dl id="{{= it.group_id }}" class="rules-group-container">
  <dt class="rules-group-header">
    <div class="btn-group pull-right group-actions">
      <button type="button" class="btn btn-xs btn-success" data-add="rule">
        <i class="{{= it.icons.add_rule }}"></i> {{= it.translate("add_rule") }}
      </button>
      {{? it.settings.allow_groups===-1 || it.settings.allow_groups>=it.level }}
      <button type="button" class="btn btn-xs btn-success" data-add="group">
        <i class="{{= it.icons.add_group }}"></i> {{= it.translate("add_group") }}
      </button>
      {{?}}
      {{? it.level>1 }}
      <button type="button" class="btn btn-xs btn-danger" data-delete="group">
        <i class="{{= it.icons.remove_group }}"></i> {{= it.translate("delete_group") }}
      </button>
      {{?}}
    </div>
    <div class="btn-group group-conditions">
      {{~ it.conditions: condition }}
      <label class="btn btn-xs btn-primary">
        <input type="radio" name="{{= it.group_id }}_cond" value="{{= condition }}"> {{= it.translate("conditions", condition) }}
      </label>
      {{~}}
    </div>
    {{? it.settings.display_errors }}
    <div class="error-container"><i class="{{= it.icons.error }}"></i></div>
    {{?}}
  </dt>
  <dd class=rules-group-body>
    <ul class=rules-list></ul>
  </dd>
</dl>
