$group-background-color: rgba(50, 70, 80, .5) !default;
$group-border-color: #00164A !default;

$rule-background-color: rgba(40, 40, 40, .9) !default;
$rule-border-color: #111 !default;

$error-border-color: #800 !default;
$error-background-color: #322 !default;

$ticks-color: #222 !default;

@import 'default';
